{% extends "base.html.j2" %}

{% block meta %}{% endblock %}

{% block title %}{{title}}{% endblock %}

{% block content %}
<p>
If you need a PDF version of the CV, you can <a href="/cv.pdf">download it here</a>.
</p>

{{ content }}{% endblock %}
