{% extends "base.html.j2" %}

{% block meta %}{% endblock %}

{% block title %}Feedback{% endblock %}

{% block content %}
  <h1>Send Feedback</h1>
  <form id="feedback" action=".">
    <textarea id="feedback_text"></textarea>
    <button id="send">Send feedback</button>
    <div id="referrer"></div>
    <div id="status"></div>
  </form>
  <script src="/jquery.js"></script>
  <script src="/feedback.js"></script>
{% endblock %}
