<?xml version="1.0" encoding="UTF-8"?>
        <rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
        <channel>
        <atom:link href="https://amadv.github.io" rel="self" type="application/rss+xml" />
        <title>Aaron Madved</title>
        <description>Aaron Madved's blog</description>
        <link>https://amadv.github.io/</link>
        <lastBuildDate>{{rfc822_date}}</lastBuildDate>
        {% for post in posts %}
            <item>
            <guid>{{post["guid"]}}</guid>
            <link>{{post["guid"]}}</link>
            <pubDate>{{post["rfc822_date"]}}</pubDate>
            <title>{{post["title"]}}</title>
            <description><![CDATA[{{post["content"]}}]]></description>
            </item>
        {% endfor %}
        </channel></rss>
